<!DOCTYPE html>
<html lang="fr">
<head>
<!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-TYDG2HHTQZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-TYDG2HHTQZ');
    

  </script>
  

  <meta charset="UTF-8" />
  <title>Smoke test</title>
  <style>
    body { font-family: Arial; text-align: center; margin-top: 100px; }
    button { background: red; color: #fff; padding: 10px 20px; border: 0; cursor: pointer; }
    button:hover { background: darkred; }
  </style>
</head>
<body>
  <h1>Mon site Flask - Test GA4</h1>
  <p>Si tu vois ce texte, le rendu Flask est OK.</p>

  <button id="red-btn">Click red button</button>


  <script>
    // CRÉE la dataLayer si GTM n'est pas chargé
    window.dataLayer = window.dataLayer || [];
    gtag('event', 'test_boot', {source: 'check_click'});
    document.getElementById('red-btn').addEventListener('click', () => {
    // envoie un event GA4
    gtag('event', 'click_red_button', {
      button_color: 'red',
      page_location: window.location.href
    });
    console.log('[GA4] click_red_button envoyé');
  });
  </script>
</body>
</html>
