


<!DOCTYPE html>
<html lang="fr">
<head>

   <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MZN747SL');</script>
    <!-- End Google Tag Manager -->

  <meta charset="UTF-8" />
  <title>Smoke test</title>
  <style>
    body { font-family: Arial; text-align: center; margin-top: 100px; }
    button { background: red; color: #fff; padding: 10px 20px; border: 0; cursor: pointer; }
    button:hover { background: darkred; }
  </style>
</head>
<body>
  <h1>Mon site Flask - Test GA4</h1>
  <p>Si tu vois ce texte, le rendu Flask est OK.</p>

  <button id="red-btn">Click red button</button>

  <script>
    // dataLayer existe même si GA4 est bloqué
    window.dataLayer = window.dataLayer || [];
    

    const goNext = () => { window.location.assign('/next'); };

    document.getElementById('red-btn').addEventListener('click', () => {
      let navigated = false;
      dataLayer.push({
        event:'red-btn-click',
        prop: 'test'
        })
      // Fallback au cas où l'event_callback ne se déclenche pas (bloqueur / refus consent)
      const timer = setTimeout(() => {
        if (!navigated) {
          navigated = true;
          goNext();
        }
      }, 500); // 500 ms suffit pour un smoke test

 
    
    });
  </script>
</body>
</html>
